# Binaries for programs and plugins
# *.exe
# *.dll
# *.so
# *.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
src
bin
pkg
__debug_bin
.vscode
tray_darwin
tray_darwin_release
tray_linux
tray_linux_release
tray_windows.exe
tray_windows_release.exe
tray.exe
tray